.form-container-prof {
    width: 300px;
    height: 500px;
    background-color: #ffffff69;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: width 0.3s;
}

.hide {
    margin-left: 0;
    overflow: hidden;
    width: 0;
}

.form-container-prof .add-form {
    margin: 20px;
    margin-top: 50px;
    width: calc(100% - 40px);
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
}

.form-container-prof .add-button-container {
    height: 90px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 10px;
}

.form-container-prof .add-patient-button {
    padding: 8px;
    background-color: white;
    color: #1cb75acc;
    border: solid #1cb75acc;
    border-radius: 5px;
    border-width: 0.5px;
    width: 250px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: small;
}

.form-container-prof .add-patient-button:hover {
    background-color: #1cb75acc;
    color: white;
}

.form-container-prof .add-patient-button:active {
    transform: translateY(2px);
}

.form-container-prof input {
    background-color: white !important;
    color: #01202fe6 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    color: #01202fe6 !important;

}

input:-webkit-autofill {
    -webkit-text-fill-color: #01202fe6;
    
}

.form-container-prof .horizontal {
    display: flex;
    flex-direction: row;
}

.form-container-prof .horizontal .input-box {
    width: 46%;
}

.form-container-prof .exit-button-form {
    width: 24px;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

.exit-button-form svg {
    color: #56c7c6 !important;
}
