.form-container {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    padding-top: 40px;

}

.main-form {
    margin: 0 auto;
    width: 60%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.form-container .exit-button-form {
    width: 24px;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

.next-step-button {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 50px;
    border: 1px solid #0bc6ff;
    cursor: pointer;
}

.form-title {
    color: #7482ff;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: medium;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    border-bottom: solid;
    border-width: 2px;
    border-color: #6a77ea6b;
    padding-bottom: 5px;
}

.add-form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.second-form {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
}

.question-form {
    border-bottom: 1px solid #00000042;
    margin-bottom: 30px;
    margin-top: 10px;
}

.question-title {
    color: #545b96;
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 15px;
}

.radio-option {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.radio-input {
    margin-right: 8px;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.radio-label {
    display: flex;
    align-items: center;
    margin: 0;
    letter-spacing: 0.5px;
    color: #000000c4;
}

.last-form {
    margin: 0 auto;
    height: 100%;
    width: 80%;
}

.add-button-container {
    height: 90px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-patient-button {
    padding: 10px;
    background-color: white;
    color: #1cb75acc;
    border: solid #1cb75acc;
    border-radius: 5px;
    border-width: 0.5px;
    width: 250px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.add-patient-button:hover {
    background-color: #1cb75acc;
    color: white;
}

.add-patient-button:active {
    transform: translateY(2px);
}

.step2-error {
    text-align: center;
    color: #ff1c1c;
}

.finish-button {
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1cb75acc;
    color: white;
    width: 260px;
    margin: 0 auto;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 10px;
    cursor: pointer;
}

.finish-button:active {
    border: 2px solid rgb(46, 208, 248);
}

.finish-button-icon {
    margin-right: 15px;
}

.finish-button svg {
    color: white;
}

input {
    background-color: white !important;
    color: #01202fe6 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    color: #01202fe6 !important;

}

input:-webkit-autofill {
    -webkit-text-fill-color: #01202fe6;
    
}

.exit-button-form svg {
    color: #56c7c6 !important;
}

.next-step-button svg {
    color: #56c7c6 !important;
}

.loading-register-patient {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute !important;
}