.input-box {
    display: flex;
    flex-direction: column;
}

.input-text {
    border-radius: 5px;
    border: solid #303d4e30;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    height: 28px;
    font-weight: 100;
    color: #6bceffde;
    font-size: small;
}

.input-text:focus {
    outline: none;
    border: solid #56c7c6ab;
    border-width: 1.5px;
}

.input-label {
    margin-bottom: 4px;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: x-small;
    color: #56c7c6;
    font-weight: bold;
    max-height: 15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #2a2a3c inset !important;
    color: white;

}

input:-webkit-autofill {
    -webkit-text-fill-color: #ffffffa8;
    
}

