.container-background {
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-width: 1300px;
}

.horizontal-pat {
    display: flex;
    flex-direction: row;
    transition: widdth 0.3s;

}

.container-pat-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.total-pat {
    height: 60px;
    width: 250px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: larger;
    color: green;
    padding-left: 30px;
}

.total-pat label {
    margin-bottom: 0 !important;
}

.header-pat-title {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: larger;
    color: #4a8196d9;
    margin-left: 5px;
}

.pat-list {
    width: 100%;
    min-width: 700px;
    height: 500px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pat-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e9f1ffd9;
}

.header-label {
    display: flex;
    align-items: center;
    width: 32%;
    margin-left: 20px;
    margin-bottom: 0 !important;
    height: 35px;
    color: #56c7c6;
    text-transform: uppercase;
    font-size: small;
    font-weight: 600;
    letter-spacing: 2px;
}

.add-pat-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.add-pat-icon svg {
    color: #56c7c6 !important;
}