.patient-view-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-width: 1000px;
}

label {
    margin-bottom: 0;
}

.patient-view-header {
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
    margin-top: 5px;
}

.patient-view-title {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: larger;
    color: #4a8196d9;
    margin-left: 5px;
}

.goals-title {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: larger;
    color: #4a8196d9;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
}

.add-goals {
    margin-left: 5px;
    cursor: pointer;
}

.add-goals svg {
    color: #4a8196d9;
}

.patient-view-content {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
}

.patient-overview {
    width: 100%;
    height: 180px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.overview-left {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    width: 48%;
    background-color: white;
    height: 100%;
}

.overview-item {
    margin-left: 15px;
    margin-top: 15px;
}

.topic-label {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: .9em;
    color: #7482ff;
    margin-right: 10px;
    margin-bottom: 5px;
}

.topic-value {
    color: rgba(30, 35, 36, 0.705);
    font-size: .9em;
}

.overview-right {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    width: 48%;
    height: 100%;
    text-align: right;
    background-color: white;
    padding-right: 15px;
}

.overview-right .overview-item {
    margin-top: 9px;
}

.overview-right .topic-label {
    margin-bottom: 0;
    font-size: .8em;
}

.form {
    display: flex;
    flex-direction: row;
}

.form-col {
    width: 50%;
    margin-left: 20px;
    margin-top: 15px;
}

.update-goals {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .9em;
    background-color: #4a8196d9;
    width: 180px;
    margin: 0 auto;
    height: 35px;
    border-radius: 8px;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.update-goals:active {
    border: 1px solid #4a809660;
}

.update-goals svg {
    color: white;
    margin-left: 20px;
}

.patient-view-mid {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.patient-view-goals {
    width: 48%;
    height: 100%;
    background-color: white;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.graphic-menu {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50px;
    background-color: rgb(243, 243, 243);
    margin-top: 20px;
    margin-bottom: 50px;
    color: #565656;
}

.graphic-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.graphic-type-item {
    width: 33.33333%;
    text-align: center;
    border: 1px solid rgba(135, 183, 255, 0.651);
    font-size: .8em;
    height: 25px;
    margin-bottom: 5px;
    cursor: pointer;
}

.graphic-time-item {
    height: 25px;
    width: 20%;
    text-align: center;
    border: 1px solid rgba(135, 183, 255, 0.651);
    font-size: .8em;
    cursor: pointer;
}

.selected {
    background-color: #b7b4e8;
    color: white;
}

.circular-progress {
    width: 160px;
    height: 160px;
}

.circular-progress text {
    font-size: 1.5em;
}

.patient-view-status {
    width: 48%;
    height: 100%;
    background-color: white;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.status-percent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.percent-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.percent-title {
    font-size: .9em;
    letter-spacing: 1px;
    font-weight: 400;
    color: #7482ff;
    margin-bottom: 15px;
}

.patient-view-last {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

tspan {
    font-size: small;
}
