.main-menu-container {
	background-color: transparent;
	display: flex;
	flex-direction: column;
}

.side-menu {
	width: 170px;
	height: 100%;
	background-color: #303c4e;
	position: absolute;
	margin-left: 45px;
	transition: width 0.5s;
}

.off-main {
	width: 55px;
}

.off {
	width: 0;
}

.side-menu-button {
	overflow: hidden;
	height: 40px;
	background-color: #303c4e;
	align-items: center;
    display: flex;
	justify-content: initial;
	color: #ffffffde;
	letter-spacing: 2px;
	margin-left: 15px;
}

.first {
	margin-bottom: 18px;
	font-weight: bolder;
}

.mid {
	margin-bottom: 13px;
	cursor: pointer;
}

.last {
	margin-top: 102px;
	cursor: pointer;
}

.sele {
	color: #48c7c7;
	border-width: 2px;
}